html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, strong, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
body {
    font: 100% Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000;
    font-family: "微软雅黑";
}
#header {
    height: 57px;
    width: 100%;
    text-overflow: ellipsis;
    text-align: left;
    position: relative;
    background: #fff;
    z-index: 11;
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
#header .headerRight {
    height: 58px;
    line-height: 58px;
    width: 606px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
}
.companySummaryWindow {
    position: absolute;
    top: 57px;
    z-index: 11;
    width: 255px;
    height: 100px;
    background: #fff;
    border: 1px solid #d8d8d8;
    right: 59px;
    display: none;
}
.service {
    position: absolute;
    top: 96px;
    right: 30px;
    width: 100px;
    z-index: 11;
    background:rgb(255,255,255);
}
.headerRight .topTag {
    float: right;
    height: 58px;
    line-height: 58px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    width: 110px;
    position: relative;
}
.headerRight .serviceSupport {
    cursor: pointer;
}
.service .servItemIcon {
    width: 25px;
    padding-left: 16px;
}
.service .servItem {
    height: 25px;
    line-height: 25px;
    float: left;
    text-align: left;
    padding-top: 2px;
}
.service .servItem a {
    text-decoration: none;
    color: #2c2d2d;
}
.service .servItem img {
    border: 0;
    text-decoration: none;
    CURSOR: pointer;
    width: 20px;
    margin: 2px 0 0 0;
    cursor: pointer;
}
.sep {
    float: left;
    width: 1px;
    height: 10px;
    min-height: 10px;
    background: #c5c5c5;
    margin-top: 23px;
}
.headerRight .topTag a {
    color: #3497db;
    text-decoration: none;
    margin-left: 20px;
}
.headerRight .outImg {
    background: url(../images/test.png) -230px -70px no-repeat;
    color: #fff;
    width: 12px;
    height: 11px;
    margin: 24px 20px 0 5px;
    float: right;
}
.headerRight .bottomImg {
    background: url(../images/test.png) -229px -40px no-repeat;
    color: #fff;
    width: 12px;
    height: 5px;
    margin: 27px 14px 0 5px;
    float: right;
    transition: all .4s ease-in-out;
}
.headerRight .userNameWidth {
    display: inline-block;
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    float: right;
    color: #666;
}
/*  head end*/
.indexContainer {
    position: absolute;
    left: 0;
    top: 57px;
    z-index: 1;
    bottom: 0;
    width: 100%;
    background: #f4f7fb;
}
/*leftContainer begin*/
.leftContainer {
    width: 180px;
    background: #3497db;
    height: 100%;
    font-family: "微软雅黑";
    font-size: 14px;
    z-index: 3;
    float: left;
}
.leftContainer .firstTag {
    text-align: left;
    border-bottom: 1px solid #3392d6;
    border-top: 1px solid #3f99d7;
}
.leftContainer .leftTag {
    height: 48px;
    line-height: 48px;
    text-align: left;
    cursor: pointer;
    padding-left: 32px;
    display: block;
}
a {
    text-decoration: none;
}
.leftContainer .rightArrow {
    background: url(../images/test.png) -230px -130px no-repeat;
    width: 13px;
    height: 11px;
    margin-top: 18px;
    margin-right: 28px;
    float: right;
    transition: all .4s ease-in-out;
 }
 .leftContainer ul {
    text-decoration: none;
    list-style: none;
}
.leftContainer ul li {
    height: 48px;
    line-height: 48px;
    text-align: left;
    padding-left: 0;
}
.childMenu a {
    display: block;
    padding-left: 50px;
    cursor: pointer;
}
